 <form class='join-form' method='POST' action=''>{% csrf_token %}
    <div class='alert alert-danger alert-dismissable join-form-alert' style='display:none'> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class='join-form-error'></span>
    </div>
        <div class="input-group">
         <input class='form-control' type='email' name='email' placeholder="Your email...">
          <span class="input-group-btn">
            <input type='submit' value='Join' class='btn btn-primary' />
          </span>
        </div><!-- /input-group -->
</form>