<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-center'>
    <h1>Promote your Ideas in Seconds</h1>
    <p class='lead'>A free, open-source, system to launch a landing page and get early feedback on your idea. An easy way to build traction so you can focus on what's most important: <b>delivering value.</b></p>
    <hr/>
    <div class='col-xs-10 col-xs-offset-1'>
    <h3>Change this Page</h3>
    <div class='text-left'>
    
    <ol>
    <li>Login to <a href='/admin/'>Admin</a> with your admin username and password.<br/>
<pre>
Default-Username*: admin
Default-Password*: adminPASS2017!
</pre>
        * It's highly recommended you change these right away.
    </li>
    <li>Go to <a href='/admin/pages/page/'>Page section</a></li>
    <li>Select "Welcome to Hiit Landing".</li>
    <li>Make any changes as desired. Ensure "Featured" is selected.</li>
    <li>Save to continue.</li>
    </ol>
    </div>
      <hr/>
    </div>
    
    </div>
</div>
    <div class='row'>
    <div class='col-xs-3 col-xs-offset-3 text-center'>
    <h3>Launch your own</h3>
    <p>
        <a href="https://heroku.com/deploy?template=https://github.com/codingforentrepreneurs/Idea-Landing/tree/master"><img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy to Heroku Icon" data-canonical-src="https://www.herokucdn.com/deploy/button.svg" style="max-width:100%;"></a>
    </p>
    </div>
    <div class='col-xs-3 text-center'>
    <h3>Learn & Build it</h3><p class='lead'><a href='https://www.codingforentrepreneurs.com/projects/idea-landing/'>CFE Idea Landing</a></p>
    </div>
</div>

<br/>
<br/>
<div class='row'>
    <div class='col-sm-6 col-xs-offset-3 text-center'>
    <hr/>
        <h3>Developers</h3>
         <a class="github-button" href="https://github.com/codingforentrepreneurs" data-style="mega" data-count-href="/codingforentrepreneurs/followers" data-count-api="/users/codingforentrepreneurs#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @codingforentrepreneurs on GitHub">Follow @codingforentrepreneurs</a><br/>
            <a class="github-button" href="https://github.com/codingforentrepreneurs/Idea-Landing" data-style="mega" data-count-href="/codingforentrepreneurs/Idea-Landing/stargazers" data-count-api="/repos/codingforentrepreneurs/Idea-Landing#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star codingforentrepreneurs/Idea-Landing on GitHub">Star</a><br/>
            <a class="github-button" href="https://github.com/codingforentrepreneurs/Idea-Landing/fork" data-style="mega" data-count-href="/codingforentrepreneurs/Idea-Landing/network" data-count-api="/repos/codingforentrepreneurs/Idea-Landing#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork codingforentrepreneurs/Idea-Landing on GitHub">Fork</a> <br/>
            <a class="github-button" href="https://github.com/codingforentrepreneurs/Idea-Landing/archive/master.zip" data-style="mega" aria-label="Download codingforentrepreneurs/Idea-Landing on GitHub">Download</a><br/>

    </div>
</div>


<a href="https://github.com/codingforentrepreneurs/Idea-Landing">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>

