<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-center'>
    <h1>Promote your Ideas in Seconds</h1>
    <p class='lead'>A free, open-source, system to launch a landing page and get early feedback on your idea. An easy way to build traction so you can focus on what's most important: <b>delivering value.</b></p>
    <hr/>
    <div class='col-xs-10 col-xs-offset-1'>
    <h3>Change this Page</h3>
    <div class='text-left'>
    
    <ol>
    <li>Login to <a href='/admin/'>Admin</a> with your admin username and password.</li>
    <li>Go to <a href='/admin/pages/page/'>Page section</a></li>
    <li>Select "Welcome to Hiit Landing".</li>
    <li>Make any changes as desired. Ensure "Featured" is selected.</li>
    <li>Save to continue.</li>
    </ol>
    </div>
      <hr/>
    </div>
    
    </div>
</div>
    <div class='row'>
    <div class='col-xs-3 col-xs-offset-3 text-center'>
    <h3>Launch your own:</h3>
    <p>
        <a href="https://heroku.com/deploy?template=https://github.com/codingforentrepreneurs/Idea-Landing/tree/master"><img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy to Heroku Icon" data-canonical-src="https://www.herokucdn.com/deploy/button.svg" style="max-width:100%;"></a>
    </p>
    </div>
    <div class='col-xs-3 text-center'>
    <h3>Learn & Build it:</h3><p class='lead'><a href='https://www.codingforentrepreneurs.com/projects/idea-landing/'>CFE Idea Landing</a></p>
    </div>
</div>