{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Knock HQ{% endblock %}</title>

     {% include 'head_css.html' %}

    <style>
    {% block styles %}
    {% endblock %}
    </style>


    
  </head>
  <body>
    {% if messages %}
            
            <div class='alert alert-warning'>
                <div class='container'>
                 {% for message in messages %}
                    {{ message }}<br/>
                    {% endfor %}
                </div>
            </div>
        
    {% endif %}
    {% block content %}
    {% endblock %}


    

    <hr>



     <div class='container'>
      <footer>
        <p>&copy; 2017 {{ request.project_name }}</p>
      </footer>
    </div> <!-- /container -->

    {% include 'js.html' %}


  
    <script>
     $(document).ready(function(){
        var $marketingModal = $("#signUpModal");
        var didDismissModal = false;
        var doShowMarketing = false;

        doShowMarketing = $(".leave-capture").attr('show') == 'true';
        console.log(doShowMarketing)
        $("body").mouseleave(function(){
            if (!didDismissModal && doShowMarketing){
                $marketingModal.modal()
            }
            
        })

        $marketingModal.on("hidden.bs.modal", function(e){
            didDismissModal = true;
        })

        $(".join-form").submit(function(e){
            e.preventDefault()
            var this_ = $(this)
            var joinEmailAPIEndpoint = "{% url 'email-join' %}";
            $.ajax({
                method: "POST",
                data: this_.serialize(),
                url: joinEmailAPIEndpoint,
                success: function(data){
                    didDismissModal = true;
                    $marketingModal.modal('hide')
                    this_.parent().html("<p class='lead'>Success! Thanks for joining</p>")
                }, 
                error: function(data){
                    this_.find(".join-form-alert").fadeIn();
                    this_.find('.join-form-error').text(data.responseJSON.email[0])
                    // $(".join-form-alert").fadeIn();
                    // $(".join-form-error").text(data.responseJSON.email[0])
                }
                })
        })


    })




    </script>
    <script>
    $(document).ready(function(){
       {% block jquery %}{% endblock %} 
    })
    </script>

    {% include 'newsletter/snippets/modal.html' %}
  </body>
</html>








